@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* Definição de variáveis */
:root {
  --bg-white: #fcfcfc;
  --bg-dark: #1c1b1b;
  --white-color: #F7EFE9;
  --dark-color: #353535;
  --primary-color: #ff3838;
  --secondary-color: #020887;
  --primary-hover-color: #ff6c6c;
  --secondary-hover-color: #227C9D;
  --p-color: #dddddd;
  --p-color-dark: #303030;


  --body-font-family: sans-serif;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/* Estilos gerais */
body {
  font-family: var(--body-font-family);
  background-color: var(--bg-white);
  margin: 0;
  padding: 0;
}

/* Estilização do Navbar */
.navbar {
  background-color: var(--bg-dark);
}

.navbar-brand {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.navbar-nav .nav-link {
  font-weight: var(--font-weight-normal);
  color: var(--white-color);
  border-radius: var(--border-radius-small);
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-hover-color);
}

/* Estilização das seções */
.inicio {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-image: url("../images/banner/banner.png");
}

.inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-inicio {
  background-color: rgba(0, 0, 0, 0.726);
  padding: 10px;
  border-radius: var(--border-radius-medium);

}

.inicio h1 {
  font-size: 4em;
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
  position: relative;
  margin-bottom: 50px;
}

.inicio span {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  position: relative;
}

.inicio p {
  font-size: 20px;
  font-weight: var(--font-weight-normal);
  color: var(--white-color);
  margin-bottom: 30px;
  position: relative;
  padding: 15px;
  border-radius: var(--border-radius-medium);
}

.inicio button {
  font-size: 30px;
  font-weight: var(--font-weight-normal);
  color: var(--white-color);
  background-color: var(--primary-color);
  border: transparent;
  padding: 10px 50px;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  position: relative;
}

.inicio button:hover {
  background-color: var(--primary-hover-color);
}

/* Estilização das seções "Sobre Nós" */
.sobre-nos {
  background-color: var(--bg-white);
}

.sobre-nos .about-thumbnail img {
  width: 100%;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-nos h2 {
  font-size: 3.5em;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  font-family: 'EB Garamond', serif;
}

.sobre-nos p {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
}

.sobre-nos h3 {
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  margin-top: 20px;
  font-family: 'EB Garamond', serif;
}

.sobre-nos span {
  font: 1em;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  margin-top: 20px;
}

/* Estilização das seções "Serviços" */
.servicos {
  background-color: var(--bg-white);
  padding: 35px 0;
}

.servicos h2 {
  font-size: 3.5em;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  margin-bottom: 20px;
  font-family: 'EB Garamond', serif;
}

.servicos p {
  font-size: 20px;
  color: var(--dark-color);
  margin-bottom: 20px;
}

.servicos img {
  width: 100%;
  max-width: 500px;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.servicos h4 {
  font-size: 2em;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  margin-bottom: 10px;
  font-family: 'EB Garamond', serif;
}

.border-servicos {
  border: solid 1px var(--white-color);
  border-radius: var(--border-radius-medium);
  background-color: var(--bg-white);
  padding: 20px;
}

/* Estilização da tabela de preços */

.precos h2 {
  font-size: 3.5em;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  margin-bottom: 20px;
  font-family: 'EB Garamond', serif;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela th,
.tabela td {
  padding: 10px;
  text-align: left;
}

.tabela td {
  color: var(--dark-color);
}

.item-corte {
  display: flex;
  align-items: center;
}

.imagem-corte {
  flex: 0 0 100px;
  margin-right: 15px;
}

.imagem-corte img {
  max-width: 100%;
  border-radius: var(--border-radius-medium);
}

.detalhes-corte h3 {
  font-size: 1.5em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 5px;
  font-family: 'EB Garamond', serif;
}

.detalhes-corte p {
  font-size: 16px;
}

.valor {
  font-size: 1.5em;
  font-weight: var(--font-weight-bold);
}

/* Estilização da seção de agendamento */
.agenda {
  background-color: var(--bg-da);
}

.agenda h2 {
  font-size: 3.5em;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  margin-bottom: 20px;
  font-family: 'EB Garamond', serif;
}

.agenda form {
  margin-bottom: 20px;
}

.agenda label {
  font-size: 16px;
  color: var(--dark-color);
}

.agenda input[type="date"],
.agenda select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius-small);
  font-size: 16px;
  color: var(--dark-color);
}

.agenda button[type="submit"] {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.agenda button[type="submit"]:hover {
  background-color: var(--primary-hover-color);
}


/* Estilização da seção de contato */
.contato {
  background-color: var(--bg-dark);
}

.contato h2 {
  font-size: 3.5em;
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
  margin-bottom: 20px;
  font-family: 'EB Garamond', serif;
}

.contato h3 {
  font-size: 2.5em;
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
  font-family: 'EB Garamond', serif;
}

.contato form {
  margin-bottom: 20px;
}

.contato label {
  font-size: 16px;
  color: var(--white-color);
}

.contato input[type="text"],
.contato input[type="email"],
.contato input[type="tel"] {
  width: 100%;
  padding: 10px;
  color: var(--white-color);
  border-radius: var(--border-radius-small);
  font-size: 16px;
}

.contato button[type="submit"] {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.contato button[type="submit"]:hover {
  background-color: var(--primary-hover-color);
}

.contact-info p {
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 10px;
}

.contact-info i {
  margin-right: 5px;
}


/* Estilização do footer */
.footer {
  background-color: var(--bg-dark);
  color: var(--p-color);
}

.footer p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.footer a {
  color: var(--primary-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--primary-hover-color);
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 768px) {
  /* Estilização das seções "Sobre Nós" */

  .navbar-brand {
    font-size: 20px;
  }

  .inicio h1 {
    font-size: 3em;
    margin-bottom: 30px;
  }

  .inicio p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .inicio button {
    font-size: 24px;
    padding: 8px 30px;
  }

  .about-section img {
    max-width: 300px;
  }

  /* Estilização responsiva para dispositivos móveis */

  .sobre-nos h2 {
    font-size: 2em;
  }

  .sobre-nos .about-thumbnail img {
    max-width: 200px;
  }

  .sobre-nos p {
    font-size: 14px;
  }

  .sobre-nos h3 {
    font-size: 16px;
  }

  .sobre-nos span {
    font-size: 14px;
  }

  /* Estilização responsiva para dispositivos móveis */

  .servicos h2 {
    font-size: 2em;
  }

  .servicos p {
    font-size: 16px;
  }

  .servicos img {
    max-width: 200px;
  }

  .servicos h4 {
    font-size: 1.2em;
  }

  /* Estilização responsiva para dispositivos móveis */
  .tabela th,
  .tabela td {
    font-size: 14px;
  }

  .imagem-corte {
    flex: 0 0 80px;
    margin-right: 10px;
  }

  .detalhes-corte h3 {
    font-size: 1.2em;
  }

  .detalhes-corte p {
    font-size: 14px;
  }

  .valor {
    font-size: 1.2em;
  }
}